class {{ .Title }} < Formula
  desc "{{ .Desc }}"
  homepage "{{ .Homepage }}"
  version "{{ .Version }}"

{{- if .MacBuildFromSource }}
  if OS.mac?
    depends_on "go" => :build

    def install
      system "go", "build", *std_go_args(output: bin/"{{ .Name }}")
    end
  else
    {{- range .Platforms }}
    {{- if eq .OS "linux" }}
    url "{{ .URL }}"
    sha256 "{{ .SHA256 }}"
    {{- end }}
    {{- end }}

    def install
      bin.install "{{ .Name }}"
    end
  end
{{- else }}
  url "{{ (index .Platforms 0).URL }}"
  sha256 "{{ (index .Platforms 0).SHA256 }}"

  def install
    bin.install "{{ .Name }}"
  end
{{- end }}

  test do
    system "#{bin}/{{ .Name }}", "--help"
  end
end