class {{ .Title }} < Formula
  desc "{{ .Desc }}"
  homepage "{{ .Homepage }}"
  version "{{ .Version }}"

  depends_on "go" => :build

  def install
    system "go", "build", *std_go_args(output: bin/"{{ .Name }}")
  end

  test do
    system "#{bin}/{{ .Name }}", "--help"
  end
end